.container{
   border: solid 1px; 
   border-radius: 10px;
   background-color: #7C58A5;
}
.body{
    border: solid;
    border-radius: 20px;
    background-color: #FACFCC;
    margin: 150px;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
}
#button{
    display: flex;
    width: 20%;
    border-radius: 20px;
    padding: 20px;

}
#buttons{
    display: flex;
    width: 30%;
    border-radius: 20px;
    padding: 20px;
}
#signin{
    display: flex;
    gap: 80px;
}
#signup{
    border-radius: 10px;
    width: 30%;
    background-color:rgb(48, 42,56);
    color: white;
}
.row{
    display:flex;
    gap:10%;
    background-color: #FACFCC;
    margin-left: 5%;
    margin-right: 10%;
    text-decoration:black;
    
   
}
.column{
    display:block;
    font-size: 40px;
    color:black;
}
#search{
    width: 30px;
    height: 30px;
}

#image1{
    width: 400px;
    height: 550px;
}
.statistics{
    display: flex;
    border: solid 1px;
    border-radius: 20px;
    background-color: white;
    height: 150px;
    justify-content: space-around;
}
#features{
    display: block;
}
@media all and(min-width:200px) and (max-width:1024px){
    .container{
        border: solid 0px; 
        border-radius:5px;
        background-color: #7C58A5;
     }
     .body{
         border: solid 0px;
         border-radius: 5px;
         background-color: #FACFCC;
         margin: 30%;
     }
     .navbar{
         display: flex;
         flex-wrap: wrap;
         justify-content:center;
     }
     #button{
         display: flex;
         flex-wrap: wrap;
         width: 0%;
         border-radius: 10px;
         padding: 10px;
     
     }
     #buttons{
         display: flex;
         width: 10%;
         border-radius: 20px;
         padding: 20px;
     }
     #signin{
         display: flex;
         gap: 80px;
     }
     #signup{
         border-radius: 10px;
         width: 40%;
         background-color:rgb(48, 42,56);
         color: white;
     }
     .row{
         display:flex;
         gap:0%;
         background-color: #FACFCC;
         margin-left: 0%;
         margin-right: 0%;
         text-decoration:black;
         
        
     }
     .column{
         display:block;
         font-size: 40px;
         color:black;
     }
     #search{
         width: 20px;
         height: 10px;
     }
     
     #image1{
         width: 300px;
         height: 400px;
     }
     .statistics{
         display: flex;
         flex-wrap: wrap;
         border: solid 1px;
         border-radius: 5px;
         background-color: white;
         height:10px;
         justify-content: space-around;
     }
     #features{
         display: block;
     }
    }
